<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{author.picture}}" class="img-fluid rounded-start" alt="{{author.name}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{author.name}}</h5>



        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <!-- <p class="card-text"><small class="text-muted">{{author}}</small></p> -->


      </div>
    </div>
  </div>
</div>






<!-- <div class="container">
  <ul *ngFor="let item of authorAlbums" class="text-info">
    <li> {{item.name}}
    </li>
  </ul>
</div> -->



<div class="container">
  <p-table [value]="authorAlbums">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Img</th>
        <th>Year</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-album>
      <tr>
        <td> <a routerLink="/../album/{{id}}">{{album.name}}</a>
        </td>
        <td> <a routerLink="/../album/{{id}}"><img src="{{album.albumPicture}}" width="60">
          </a>
        </td>

        <td>
          <span>{{album.year}}</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>